<?xml version="1.0" encoding="utf-8"?>

<!--|~~~~CS 478 - Project Two: Car Dealership App~~~~|
Course: CS 478 Spring 2023
Name: Geovani Gonzalez
NetID: ggonza55@uic.edu | UIN: 657437605
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
Description: Mobile app designed to show off cars in
a gridview consisting of tiles placed next to each
other, each having an image and name. Each item has
behavior for short and long clicks, can redirect to
the manufacturer's site and can even list dealerships
with this car for sale in the Greater Chicago area.
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
Started: March 1st, 2023
Completed: March 3rd, 2023
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
Notes: Instead of creating 8+ unique activities for
each grid item when clicked, I instead opted to make
one general BigImageActivity and pass information to
it about what to specifically show. I think this is
better than making 8 activities which are essentially
the same thing.
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectTwo"
        tools:targetApi="31">
        <activity
            android:name=".SellerListActivity"
            android:exported="false" />
        <activity
            android:name=".BigImageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>